---
import BoxReveal from "./BoxReveal";
import { motion } from "motion/react"

const text = "Juntos, podemos convertir tus sueños en realidad.";
const letters = text.split("");
---


 <section class="text-black body-font container py-24 mx-auto">

  <div class="flex flex-col">
    <div class="flex flex-wrap sm:flex-row flex-col py-6 ">
      <h1 class="sm:w-2/5 text-gray-900 text-shadow font-medium title-font custom-text mb-2 sm:mb-0">SOBRE NOSOTROS</h1>
    </div>
    <div class="h-1 bg-gray-200 rounded overflow-hidden mb-12">
      <div class="w-80 h-full bg-main"></div>
    </div>
  </div>
    
    <article class="flex flex-row justify-between sm:flex-row mb-10 m-auto ">
      
      
      <BoxReveal client:load boxColor={"#8B5050"} duration={0.6}>
        <p class="font-text text-xl text-justify w-auto sm:w-[80%] ">Somos un equipo de profesionales apasionados por el arte audiovisual, con experiencia en
        dirección, guion, fotografía y producción. <br> Nos dedicamos a acompañar a actores y actrices
        en su desarrollo profesional, ofreciendo herramientas y recursos diseñados para destacar
        su talento y ayudarlos a construir una carrera sólida en el sector.</p>
      </BoxReveal>

      <BoxReveal client:load boxColor={"#8B5050"} duration={0.6}>
        <p class="font-text text-xl text-justify w-auto sm:w-[90%] ">Contamos con un sólido recorrido en la creación y producción de contenido audiovisual,
          incluyendo la dirección, producción y guionización de cortometrajes. Esta experiencia nos
          permite entender los desafíos del sector y trabajar contigo desde una perspectiva práctica y
          profesional.</p>
      </BoxReveal>
      
      <!-- <img src="/photo18.jpg" alt="Image from album" width="480px" loading="lazy" class="rounded-md" /> -->
    </article>

    <article class="mb-10 flex w-[90%] m-auto">
      
      <motion.p client:load initial={{ filter: "blur(20px)", opacity: 0 }}
      whileInView={{ filter: "blur(0px)", opacity: 1 }}
      transition={{ duration: 1.5, ease: "easeOut" } } viewport={{ once: true }} className="font-text text-2xl text-center w-auto sm:w-[90%]">Sabemos que cada actor y actriz tiene una esencia única, una historia que merece ser
        contada de forma auténtica y profesional. Por eso, trabajamos contigo para crear materiales
        que hablen de quién eres y reflejen todo lo que puedes aportar a la industria.</p>
        
    </article>

    <article class=" sm:flex-col m-auto ">
      
      <motion.p client:load initial={{ filter: "blur(20px)", opacity: 0 }}
      whileInView={{ filter: "blur(0px)", opacity: 1 }}
      transition={{ duration: 1.5, ease: "easeOut" } } viewport={{ once: true }} className="font-text text-xl text-center w-auto mb-10 sm:w-[90%] ">En un mundo tan competitivo como el audiovisual, creemos que el éxito no solo se trata de
        talento, sino también de contar con el respaldo adecuado. 
        <br>Nos comprometemos a ofrecerte
        un servicio cercano, empático y enfocado en tus metas. Más allá de la técnica, construimos
        relaciones basadas en la confianza y la pasión compartida por el arte.
        Estamos aquí para ayudarte a dar el siguiente paso, para que tu talento no pase
        desapercibido y puedas alcanzar las oportunidades que mereces. </motion.p>

        <motion.p client:load 
        initial={{ filter: "blur(20px)", opacity: 0 }}
      whileInView={{ filter: "blur(0px)", opacity: 1 }}
      transition={{ duration: 1.5, ease: "easeOut" } } viewport={{ once: true }} className="font-cursive text-4xl text-center w-auto mb-10 sm:w-[90%] ">Juntos, podemos
      convertir tus sueños en realidad.</motion.p> 
<!--       {letters.map((letter, index) => (
            <motion.p 
              initial= {{ opacity: 0 }},
              animate= {{ opacity: 1 }},
              transition={{ duration: 0.2, delay: index * 0.1 }},
              style= {{ display: 'inline-block' }}
            >
              {letter}
            </motion.p>
          ))} -->
        
    </article>
   
  </section>
  <style>
    .custom-text{
      font-size: 2.7rem /* 36px */;
      line-height: 3rem;
      letter-spacing: 0.2em;
    }

    @media (max-width: 660px) {
      .custom-text {
        font-size: 2.1rem;
        line-height: 1rem;
        letter-spacing: 0.2em;
      }
    }

    .bg-main {
      background-color: #500606;
    }
    .text-shadow {
        text-shadow: 1px 1px 2px black;
    }
</style> 


