---
interface Props {
	title: string;
	description: string;
	href: string;
	src: string;
	bg: string;
}

const { href, title, description, src, bg } = Astro.props;
---

<div class="p-4 md:w-1/3 sm:mb-0 mb-6 text-shadow">
	<div class="rounded-t-lg h-64 overflow-hidden">
	  <img alt="content" class="object-cover object-center h-full w-full" src={src}>
	</div>
	<div class:list={["md:h-72 rounded-b-lg p-5 flex flex-col justify-between h-fit", bg]}>
	<h2 class="text-2xl md:text-4xl font-medium title-font text-center text-gray-900">{title}</h2>
	<p class="text-center text-xl p-5">{description}</p>
	<a class="text-black inline-flex items-center mt-3" href={href}>MÁS INFORMACIÓN
	  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
		<path d="M5 12h14M12 5l7 7-7 7"></path>
	  </svg>
	</a>
</div>
  </div>

  <style>
    .text-shadow {
        text-shadow: 2px 2px 4px white;
    }
	.bg-green-custom {
		background:  #78c78caf ;
	}
</style>