---
interface Props {
	title: string;
	description: string;
	href: string;
	src: string;
	bg: string;
}
import '@fontsource-variable/oswald';
const { href, title, description, src, bg } = Astro.props;
---

<div class="p-4 md:w-1/3 sm:mb-0 mb-6">
	<div class="rounded-t-lg h-64 overflow-hidden">
	  <img alt="content" class="object-cover object-center h-full w-full" src={src}>
	</div>
	<div class:list={["md:h-72 rounded-b-lg p-5 flex flex-col justify-between h-fit bg-main"]}>
	<h2 class="text-2xl md:text-4xl font-medium title-font text-center text-white text-shadow">{title}</h2>
	<p class="text-justify text-white text-lg p-4 font-text">{description}</p>
	<a class="text-white inline-flex items-center mt-3" href={href}>MÁS INFORMACIÓN
	  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
		<path d="M5 12h14M12 5l7 7-7 7"></path>
	  </svg>
	</a>
</div>
  </div>

  <style>
    .text-shadow {
        text-shadow: 4px 4px 8px black;
    }
	.bg-green-custom {
		background:  #78c78caf ;
	}
	.bg-main {
      background-color: #500606;
    }
	.bg-alternative {
		background-image: linear-gradient(to  bottom,#500606 60%, #aa6d6d );
	}
</style>