---
import Form from "./Form";

---

<section class="text-gray-600 body-font h-max lg:h-screen" id="contacto">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col">
            <div class="flex flex-wrap sm:flex-row flex-col py-6 ">
              <h1 class="sm:w-2/5 text-gray-900 text-shadow font-medium title-font custom-text mb-2 sm:mb-0">CONTACTO</h1>
            </div>
            <div class="h-1 bg-gray-200 rounded overflow-hidden mb-12">
              <div class="w-80 h-full bg-main"></div>
            </div>
        </div>
        <div class="flex flex-wrap lg:flex-nowrap">
            
            <!-- <img src="/logo-final.jpeg" alt="Image from album" width="740px" class="rounded-full object-cover m-auto " loading="lazy" /> -->
            <div class=" custom-img m-auto relative">
              <img src="/logo-final.png" 
                   alt="Image from album" 
                   class="rounded-full object-cover w-full h-full shadow-[12px_12px_25px_rgba(0,0,0,0.5)]" 
                   loading="lazy" />
          </div>
            

            <Form client:load />
            
        </div>
    </div>
    
</section>

<style>
  .custom-img{
    width: 600px;
    height: 600px;
  }

  @media (max-width: 660px) {
    .custom-img {
      width: 300px;
      height: 300px;
    
  }}
    .custom-text{
      font-size: 2.7rem /* 36px */;
      line-height: 3rem;
      letter-spacing: 0.2em;
    }

    @media (max-width: 660px) {
      .custom-text {
        font-size: 2.1rem;
        line-height: 1rem;
        letter-spacing: 0.2em;
      }
    }

    .bg-main {
      background-color: #500606;
    }
    .text-shadow {
        text-shadow: 1px 1px 2px black;
    }
</style>