<footer class="text-gray-600 body-font">
    <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
    
      <a class="flex flex-col sm:flex-row title-font font-medium items-center md:justify-start justify-center text-gray-900">
        <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mb-4 sm:mr-4" src="/logo-icono-final.PNG">
        <span class="ml-3 text-3xl">STUDIO FILMS 23</span>
      </a>

      <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-4 sm:mt-0 mt-4 mx-2">© 2024 STUDIO FILMS 23 <span class="hidden sm:inline-block">—</span></p>
    <div class="flex gap-2 mt-4 sm:mt-0 items-center">
      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
        <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
        <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
      </svg></span>
      <a class="text-gray-600 ml-1" rel="noopener noreferrer" target="_blank">@studiofilms.23</a>
    </div>

    </div>
  </footer>