---
const photos = [
    { src: '/actriz-frontal-negro-small.webp', alt: 'Imágen de actriz con camisa negra' },
    { src: '/actriz-fondo-negro-small.webp', alt: 'Imágen de actriz fondo negro y camisa blanca' },
    { src: '/actriz-costado-small.webp', alt: 'Imágen actriz girándose' },
    { src: '/actriz-frente-small.webp', alt: 'Imágen frontal de actriz' },
    { src: '/actor-sonriendo-small.webp', alt: 'Imagen actor sonriente' },
    { src: '/actor-pistola-small.webp', alt: 'Imágen de actor siendo apuntado por una pistola' },
    { src: '/actor-sombra-small.webp', alt: 'Imágen de actor sonriendo' },
    { src: '/actor-lado-small.webp', alt: 'Imágen de actor sentado de lado' }
];
---
<section class="text-gray-600 body-font h-max">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col">
        <div class="flex flex-wrap sm:flex-row flex-col py-6 ">
          <h1 class="sm:w-2/5 text-gray-900 text-shadow font-medium title-font custom-text mb-2 sm:mb-0">GALERÍA</h1>
        </div>
        <div class="h-1 bg-gray-200 rounded overflow-hidden mb-12">
          <div class="w-80 h-full bg-main"></div>
        </div>
      </div>
      <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
        {
            photos.map((photo) => (
               
                    <img loading="lazy" src={photo.src} alt={photo.alt} />
            
            ))
        }

      </div>
      <div class="flex justify-center mt-10">
        <a href="/galeria" class='h-12 inline-flex animate-background-shine items-center justify-center rounded-md border border-[#500606] bg-[linear-gradient(110deg,#500606,45%,#8b5050,55%,#500606)] bg-[length:200%_100%] px-12 font-text font-medium text-white transition-colors focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-offset-2 focus:ring-offset-gray-50'>
          VER MÁS
        </a>
    </div>
    </div>
  </section>
  <style>
    .custom-text{
      font-size: 2.7rem /* 36px */;
      line-height: 3rem;
      letter-spacing: 0.2em;
    }
    @media (max-width: 660px) {
      .custom-text {
        font-size: 2.1rem;
        line-height: 1rem;
        letter-spacing: 0.2em;
      }
    }

    .bg-main {
      background-color: #500606;
    }
    .text-shadow {
        text-shadow: 1px 1px 2px black;
    }
</style>