---
import { Image } from "astro:assets";
import ImageGallery from "./ImageGallery.tsx";

const images = [
    { src: '/photo4.jpeg', alt: 'Gallery 3' },
    { src: '/photo30.jpeg', alt: 'Gallery 3' },
    {src: '/photo20.jpeg', alt: 'Gallery 3' },
    {src: '/photo-hori.jpeg', alt: 'Gallery 3' },
    {src: '/photo8.jpeg', alt: 'Gallery 3' },
    {src: '/photo-hori-3.jpeg', alt: 'Gallery 1' },
    {src: '/photo-hori-2.jpeg', alt: 'Gallery 3' },
    { src: '/photo23.jpeg', alt: 'Gallery 9' },
    { src: '/photo22.jpeg', alt: 'Gallery 3' },
    { src: '/photo27.jpeg', alt: 'Gallery 1' },
    { src: '/photo29.jpeg', alt: 'Gallery 1' },
    { src: '/photo9.jpeg', alt: 'Gallery 3' },
    { src: '/photo28.jpeg', alt: 'Gallery 3' },
    { src: '/photo25.jpeg', alt: 'Gallery 1' },
    { src: '/photo26.jpeg', alt: 'Gallery 1' },



]


---

<ImageGallery client:load images={images} />

<!-- <div
    class="mx-auto container my-8 p-4 columns-2 md:columns-3 lg:columns-4 xl:columns-5"
  >
    {
      images.map((image) => (
        <Image
          src={image.src}
          alt={`Image from ${image.alt} album`}
          format="jpeg"
          quality="high"
          width={300}
          height={300}
          class="rounded mb-4 border border-transparent hover:scale-105 hover:cursor-pointer transition-all duration-75 ease-in-out"
          loading="lazy"
        />
      ))
      
    }
  </div> -->