<header class="relative flex h-screen overflow-hidden">
    <div
        class="relative z-30 flex flex-col justify-center my-auto mx-6 lg:ml-28 h-auto text-white text-center lg:text-left"
    >
        <div class="flex flex-col justify-center text-shadow">
            <h1 class="text-4xl sm:text-6xl md:text-7xl lg:text-9xl mb-4">
                STUDIO FILM 23
            </h1>

            <h2 class="text-sm sm:text-lg md:text-xl lg:text-2xl">
                SI ESTÁS BUSCANDO IMPULSAR TU CARRERA Y TENER UNA IMAGEN MÁS
                PROFESIONAL, SOMOS TU ESTUDIO
            </h2>
        </div>

        <div
            class="my-10 flex flex-row justify-center lg:justify-evenly text-shadow space-x-2 sm:space-y-0 sm:space-x-4 lg:space-x-0"
        >
            <span class="text-sm sm:text-lg lg:text-xl">FOTOBOOK ACTORAL</span>
            <span class="hidden md:block">|</span>
            <span class="text-sm sm:text-lg lg:text-xl">VIDEOBOOK</span>
            <span class="hidden md:block">|</span>
            <span class="text-sm sm:text-lg lg:text-xl">COACH ACTORAL</span>
        </div>

        <div
            class="mt-8 w-[60%] items-center m-auto flex flex-col sm:flex-row justify-center gap-6 sm:gap-8 lg:gap-24"
        >
           
                <a class="px-8 sm:px-12 py-3 sm:py-4 border-2 rounded-lg font-bold border-white hover:bg-slate-200 hover:text-black" href="#servicios">SERVICIOS</a>
           
            <button
                class="px-8 sm:px-12 py-3 sm:py-4 border-2 rounded-lg font-bold border-white hover:bg-slate-200 hover:text-black"
            >
                CONTACTO
            </button>
        </div>
    </div>
    <div class="b-opacity"></div>

    <video autoplay loop muted preload="auto" class="hero-video">
        <source src="./video1.webm" type="video/webm" />
    </video>
</header>

<style>
    .text-shadow {
        text-shadow: 2px 2px 4px #000000;
    }
    .hero-video {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        object-fit: cover;
        width: 100%;
        height: 100%;
        opacity: 0.85;
    }

    .b-opacity {
        background-color: rgba(0, 0, 0, 0.4);
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
</style>
