---
import { motion } from "motion/react"
---

<header class="relative flex h-screen overflow-hidden ">
    <div
        class="relative z-30 flex flex-col justify-center items-center my-auto mx-auto w-screen lg:ml-28 h-auto text-white text-center lg:text-left"
    >
        <div class="flex flex-col justify-center text-shadow">
            
            <motion.h1 client:load initial={{ scale: 0 }} animate={{ transition: { duration: 1, ease: "linear" }, scale: 1 }}  className="text-xl l-spacing sm:text-6xl md:text-7xl lg:text-4xl mb-4 mx-4 font-semibold">
                STUDIO
            </motion.h1>
            <motion.h1 client:load initial={{scale: 0 }} animate={{ transition: { duration: 1, delay: 0.5, ease: "linear" }, scale: 1 }} className="text-5xl l-spacing-sm sm:text-6xl md:text-7xl lg:text-9xl mb-4">
                FILMS 23
            </motion.h1>

            <motion.div client:load initial={{scale: 0 }} animate={{ transition: { duration: 0.7, delay:1,  ease: "linear" }, scale: 1 }} className="my-10 w-full font-text">
                <p class="text-sm p-3 md:text-xl lg:text-2xl l-spacing-xs">
                    SI ESTÁS BUSCANDO IMPULSAR TU CARRERA Y TENER UNA IMAGEN MÁS
                    PROFESIONAL
                </p>
                <p class="p-3 mt-10 text-3xl text-center lg:text-5xl">SOMOS TU ESTUDIO</p>
            </motion.div>
            
        </div>

        <motion.div  client:load initial={{scale: 0 }} animate={{ transition: { duration: 0.7, delay:1.5,  ease: "linear" }, scale: 1 }} className="mt-16 w-[60%] items-center m-auto flex flex-col sm:flex-row justify-center gap-6 sm:gap-8 lg:gap-24">
           
                <a class="px-8 sm:px-12 py-3 sm:py-4 border-2 rounded-lg font-bold border-white hover:bg-slate-200 hover:text-black" href="/servicios/book">SERVICIOS</a>
           
            <a
                class="px-8 sm:px-12 py-3 sm:py-4 border-2 rounded-lg font-bold border-white hover:bg-slate-200 hover:text-black" href="/contacto"
            >CONTACTO
            
                
            </a>
        </motion.div>
    </div>
    <div class="b-opacity"></div>

    <video autoplay aria-placeholder="./placeholder.jpg" loop="loop" muted playsinline preload="none" id="hero-vid" class="hero-video">
        <source src="./video1.webm" type="video/webm" />
    </video>
</header>

<style>
    .text-shadow {
        text-shadow: 2px 2px 4px #000000;
    }
    .hero-video {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        object-fit: cover;
        width: 100%;
        height: 100%;
        opacity: 0.85;
    }

    .b-opacity {
        background-color: rgba(88, 14, 14, 0.925);
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        object-fit: cover;
        opacity: 0.83;
        width: 100%;
        height: 100%;
    }
    .l-spacing {
        letter-spacing: 0.8em;
    }
    .l-spacing-sm {
        letter-spacing: 0.2em;
    }
    .l-spacing-xs {
        letter-spacing: 0.1em;
    }
    
</style>
<script>
    document.addEventListener("astro:page-load", function () {
    
            const video = document.getElementById("hero-vid") as HTMLVideoElement;

            // Reinicia el video forzando su recarga
            if (video && video.readyState < 3) {
                video.play();
            }
        });
    </script>