---
import { Image } from 'astro:assets';

interface Props {
  page: string;
}

const { page } = Astro.props;
---

<header class="text-gray-600 body-font">
  <div
    class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center"
  >
    <div
      class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0"
    >
      <Image
        src="/logo.jpeg"
        alt="Studio Films 23"
        width={50}
        height={50}
        class="rounded-full" 
        ></Image>
      <span class="ml-3 text-xl">Studio Films 23</span>
    </div>
    <nav
      class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center sm:gap-10 gap-2"
    >
      <a
        class="inline-flex items-center cursor-pointer border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0"
        href="/"
        >Inicio</a
      >
      <a
        class:list={['inline-flex items-center cursor-pointer border-0 py-1 px-3 focus:outline-none hover:bg-gray-100 rounded text-base mt-4 md:mt-0',
        page === 'galeria' && 'text-gray-900 bg-gray-200']}
        href="/galeria"
      >
        Galería
      </a>
      <a
      class:list={['inline-flex items-center cursor-pointer border-0 py-1 px-3 focus:outline-none hover:bg-gray-100 rounded text-base mt-4 md:mt-0',
        page === 'servicios' && 'text-gray-900 bg-gray-200']}
        href="/servicios/fotobook">Servicios</a
      >
      <a
        class="inline-flex items-center cursor-pointer  border-0 py-1 px-3 focus:outline-none hover:bg-gray-100 rounded text-base mt-4 md:mt-0"
        href="/#contacto">Contacto</a
      >
    </nav>
  </div>
</header>
