---
interface Props {
	href: string;
	alt: string;
}

const { href, alt } = Astro.props;
---

<li class="flex justify-center ">

	<img class="drop-shadow-2xl w-[240px] md:w-[360px] self-center hover:transition" src={href} alt={alt}>
</li>



