---
interface Props {
	href: string;
	alt: string;
}

const { href, alt } = Astro.props;
---

<li class="bg-white border-4 border-solid border-gray-300"  >
	<img class="img-shadow w-[240] md:w-[480px] p-1" src={href} alt={alt}>
</li>



