---
import ButtonBackgroundShine from "../../components/ButtonBackgroundShine";
import LayoutSecondary from "../../layouts/LayoutSecondary.astro";

const serv = [{
    title: "BÁSICO",
    price: 60,
    atributtes : [
        "Sesión en estudio",
        "15 fotos editadas",
        "1h 30 min",
        "Varios fondos e iluminaciones"
    ],
    borderColor: "border-basic",
    buttonColor: "bg-main"

  },
  {
    title: "INTERMEDIO",
    price: 90,
    atributtes : [
        "Sesión en estudio",
        "25 fotos editadas",
        "2h aproximadamente",
        "Varios fondos e iluminaciones"
    ],
    borderColor: "border-inter",
    buttonColor: "bg-main"
  },
  {
    title: "PROFESIONAL",
    price: 180,
    atributtes : [
        "Sesión en estudio",
        "40 Fotos editadas",
        "3h aproximadamente",
        "Varios fondos e iluminaciones",
        "Servicio de maquillaje incluido",
        "Selección de hasta 80 fotos (sin editar)"
    ],
    borderColor: "border-main",
    buttonColor: "bg-main"
  }

  
];

interface Props {
    title: string;
    page: string;
}
---

<LayoutSecondary title="Photobook" page="servicios">
    <section class="text-gray-600 body-font overflow-hidden w-full">
        <div class="container px-5 py-2 mx-auto">
          <div class="flex flex-col text-center w-full mb-16">
            <h1 class="text-3xl sm:text-6xl font-medium title-font mb-2 p-5 text-gray-900">BOOK ACTORAL</h1>
            <p class="lg:w-4/5 mx-auto leading-relaxed text-sm sm:text-base text-gray-900 p-2">Destaca tu talento con un book actoral personalizado, mostrando tu mejor versión en imágenes profesionales que capturan tu versatilidad y estilo.</p>
            <div class="flex mx-auto border-2 border-main rounded overflow-hidden mt-6">
              <a class="py-2 px-4 bg-main text-white cursor-default">BOOK ACTORAL</a>
              <a class="py-2 px-4 border-r-main my-auto border-r-2 cursor-pointer" href="/servicios/videobook">VIDEOBOOK ACTORAL</a>
              <a class="py-2 px-4 cursor-pointer" href="/servicios/coach">COACH ACTORAL</a>
            </div>
          </div>
          <div class="flex flex-wrap justify-center mb-2 gap-x-10 w-[80%] md:w-full m-auto">
            
            {
              serv.map((servicio) => (
              <div class="p-4 xl:w-1/4 md:w-1/2 w-full">
              <div class:list={["h-full p-6 rounded-lg border-2  flex flex-col relative overflow-hidden",servicio.borderColor]}>
                <h1 class="text-2xl sm:text-3xl l-spacing tracking-widest title-font mb-4 font-bold text-black">{servicio.title}</h1>
                {servicio.atributtes.map((atributte) => (
                  <p class:list={["flex items-center text-black font-text mb-2",
                  atributte === servicio.atributtes[servicio.atributtes.length - 1] && "mb-6"]
                  }>
                  <span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-black text-white rounded-full flex-shrink-0">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                      <path d="M20 6L9 17l-5-5"></path>
                    </svg>
                  </span>{atributte}
                </p>))
                  
                }
                <span class:list={["bg-red-600 text-white px-3 py-1 tracking-widest text-xs absolute right-0 top-0 rounded-bl", 
                  servicio !== serv[serv.length - 1] && "hidden"
                ]}>POPULAR</span>
                
                {
                servicio === serv[serv.length - 1] ? <ButtonBackgroundShine path="/#contacto" text="Reservar"></ButtonBackgroundShine> : <a class:list={["flex items-center mt-auto text-white  border-0 py-2 px-4 w-full focus:outline-none hover:scale-105 duration-150 rounded cursor-pointer", servicio.buttonColor ]} href="/#contacto">Reservar
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-auto" viewBox="0 0 24 24">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                  </svg>
                </a>

                }
                
              </div>
            </div>
              ))
            }
            
          </div>
        </div>
      </section>
</LayoutSecondary>

<style>
  .bg-main {
    background:  #500606 ;
  } 
  .bg-inter {
    background:  #8B5050 ;
  }
  .bg-basic {
    background:  #AC7474 ;
  }
  .button-bg{
    background-color: #967c7c;
  }
  .border-inter {
    border: 2px solid #8B5050;
  }
  .border-basic {
    border: 2px solid #AC7474;
  }
  .border-main {
    border: 2px solid #500606;
  }
  .border-r-main{
    border-right: 2px solid #500606;
  }
  .l-spacing {
    letter-spacing: 0.2em;
  }
</style>