---
import Photo from "../components/Photo.astro";

const photos = [
    { src: '/public/photo1.jpeg', alt: 'Gallery 1' },
    { src: '/public/photo3.jpeg', alt: 'Gallery 3' },
    { src: '/public/photo3.jpeg', alt: 'Gallery 3' }
];
---

<section class="mt-10 w-[80%] m-auto md:h-screen content-center">
    
    <ul class="flex-colum gap-2 md:flex md:justify-between">
        {
            photos.map((photo) => (
               
                    <Photo href={photo.src} alt={photo.alt} />
            
            ))
        }
    </ul>

    <div class="flex justify-center mt-10">
        <button class="px-12 py-4 border-2 rounded-lg font-bold text-white border-white hover:bg-slate-200 hover:text-black">
            VER MÁS
        </button>
    </div>
</section>
