---
import Photo from "../components/Photo.astro";

const photos = [
    { src: '/studio-film/photo1.jpeg', alt: 'Gallery 1' },
    { src: '/studio-film/photo3.jpeg', alt: 'Gallery 3' },
    { src: '/studio-film/photo3.jpeg', alt: 'Gallery 3' },
    { src: '/studio-film/photo1.jpeg', alt: 'Gallery 1' },
    { src: '/studio-film/photo1.jpeg', alt: 'Gallery 1' },
    { src: '/studio-film/photo3.jpeg', alt: 'Gallery 3' },
    { src: '/studio-film/photo3.jpeg', alt: 'Gallery 3' },
    { src: '/studio-film/photo1.jpeg', alt: 'Gallery 1' }
];
---

<section class="mt-10 w-[80%] m-auto md:h-max content-center">
    
    <ul class="grid grid-cols-3 md:flex gap-4 flex-wrap">
        {
            photos.map((photo) => (
               
                    <Photo href={photo.src} alt={photo.alt} />
            
            ))
        }
    </ul>

    <div class="flex justify-center mt-10">
        <button class="px-12 py-4 border-2 rounded-lg font-bold text-black border-black hover:bg-black hover:text-white">
            VER MÁS
        </button>
    </div>
</section>
