<header class="relative flex h-screen overflow-hidden">
    <div
        class="relative z-30 flex-col justify-center my-auto ml-28 h-auto text-white"
    >
    <div class="flex-col justify-center">
        <h1 class="text-9xl mb-4">STUDIO FILM 23</h1>

        <h2 class="text-xl">
            SI ESTAS BUSCANDO IMPULSAR TU CARRERA Y TENER UNA IMAGEN MÁS PROFESIONAL, SOMOS TU ESTUDIO
        </h2>

    </div>

        <div class="my-10 flex justify-evenly">
            <span class="text-xl" >FOTOBOOK ACTORAL</span>
            <span>|</span>
            <span class="text-xl">VIDEOBOOK</span>
            <span>|</span>
            <span class="text-xl">COACH ACTORAL</span>

        </div>

        <div class="mt-8 flex w-auto justify-center gap-24">
            <button class="bg-white text-black px-6 py-4 rounded-lg">
                SERVICIOS
            </button>
            <button class="bg-white text-black px-6 py-4 rounded-lg">
                CONTACTO
            </button>
        </div>
    </div>

    <video
        autoplay
        loop
        muted
        class="absolute z-10 w-auto min-w-full min-h-full max-w-none"
    >
        <source src="https://cdn.pixabay.com/video/2019/06/17/24496-344562743_large.mp4" />
    </video>
</header>
