<header class="relative flex h-screen overflow-hidden">
    <div
        class="relative z-30 flex-col justify-center my-auto ml-28 h-auto text-white"
    >
    <div class="flex-col justify-center text-shadow">
        <h1 class="text-9xl mb-4 text-center">STUDIO FILM 23</h1>

        <h2 class="text-xl text-center">
            SI ESTAS BUSCANDO IMPULSAR TU CARRERA Y TENER UNA IMAGEN MÁS PROFESIONAL, SOMOS TU ESTUDIO
        </h2>

    </div>

        <div class="my-10 flex justify-evenly text-shadow">
            <span class="text-xl">FOTOBOOK ACTORAL</span>
            <span>|</span>
            <span class="text-xl">VIDEOBOOK</span>
            <span>|</span>
            <span class="text-xl">COACH ACTORAL</span>

        </div>

        <div class="mt-8 flex w-auto justify-center gap-24">
            <button class="px-12 py-4 border-2 rounded-lg font-bold border-white hover:bg-slate-200 hover:text-black">
                SERVICIOS
            </button>
            <button class="px-12 py-4 border-2 rounded-lg font-bold border-white hover:bg-slate-200 hover:text-black">
                CONTACTO
            </button>
        </div>
    </div>

    <video
        autoplay
        loop
        muted
        class="absolute z-10 w-auto min-w-full min-h-full max-w-none opacity-80"
    >
        <source src="https://cdn.pixabay.com/video/2019/06/17/24496-344562743_large.mp4" />
    </video>
</header>

<style>
    .text-shadow {
        text-shadow: 2px 2px 4px #000000;
    }
</style>

