---
import { ClientRouter } from 'astro:transitions';
import '@fontsource/courier-prime'
import '@fontsource-variable/oswald'
import '@fontsource-variable/dancing-script';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Fotografía y videografía para actores y actrices" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/webp" href="/logo-final.webp" />
		<meta name="generator" content={Astro.generator} />
    <ClientRouter />
		<title>{title}</title>
    <meta name="google-site-verification" content="FHcTjzxxfYnkhBLOQOsVsVZeMTUVT7PmyV62Oa9Eeh0" />
	</head>
	<body>
		<div class="bg"></div>
    <main>
		<slot />
  </main>
	</body>
</html>

<style>
	body {
  background-color: #DBD3D3;
  margin: 0;
  overflow-x: hidden;
}

.bg {
  position: fixed;
  z-index: -1;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  visibility: visible;
}

</style>

