---
import { ViewTransitions } from 'astro:transitions';
import '@fontsource/courier-prime'
import '@fontsource-variable/oswald'
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title: string;
  page: string;
}

const { title, page } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/styles.css" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
    <ViewTransitions />
	</head>
	<body>
		<div class="bg"></div>
    <Navbar page={page}></Navbar>
    <main>
		<slot />
  </main>
  <Footer></Footer>
	</body>
</html>

<style>
	body {
  background-color: #lightgray;
  margin: 0;
  overflow-x: hidden;
}

.bg {
  position: fixed;
  z-index: -1;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
}

</style>

